.page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page .page__navigation {
    align-self: stretch;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding: 10px 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 14px 0 rgba(0,0,0,.2);
}

.page .page__card {
    position: relative;
    background-color: white;
    box-shadow: 0 4px 14px 0 rgba(0,0,0,.2);
    padding: 50px 100px 70px;
}

.page__card .logo {
    margin-bottom: 50px;
}