.pendingApprovalPage__pendingList .list {
    margin-top: 25px;
    padding: 30px 50px;
    background-color: #eeeeee99;
}

.pendingApprovalPage__pendingList .list .list__item:nth-child(n+2) {
    margin-top: 25px;
}

.pendingApproval {
    padding: 25px 50px;
}

.pendingApproval .pendingApproval__buttons {
    margin-top: 50px;
}