body {
    background-color: #eee;
    margin: 0;
}

.list .list__item:nth-child(n+2) {
    margin-top: 15px;
}

.buttonList .button:nth-child(n+2) {
    margin-left: 15px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}